<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tanify"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".ui.lms.detailMateri.DetailMateriActivity"
            android:exported="false" />
        <activity
            android:name=".ui.lms.checklistMateri.CheckListMateriActivity"
            android:exported="false" />
        <activity
            android:name=".ui.bottomNav.forum.detailDiscuss.DetailDiscussActivity"
            android:exported="false" />
        <activity
            android:name=".ui.bottomNav.forum.addDiscuss.AddDiscussActivity"
            android:exported="false" />
        <activity
            android:name=".ui.lms.LmsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.weather.WeatherActivity"
            android:exported="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDfM4Cgp3X6tGdtH-K4u0oM059DMsy2uMk"/>
        <activity
            android:name=".ui.bottomNav.profile.editProfile.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.bottomNav.profile.editProfile.ChangeProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.artikel.DetailArtikelActivity"
            android:exported="false" />
        <activity
            android:name=".ui.artikel.ArtikelActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splashScreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"/>
        <service android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>
            <meta-data android:name="photopicker_activity:0:required" android:value="" />
        </service>

    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>